astroid==2.11.7
blis==0.7.8
catalogue==2.0.8
certifi==2022.6.15
chardet==3.0.4
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
cymem==2.0.6
dill==0.3.5.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
Flask==2.2.1
googletrans==3.1.0a0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2022.8.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.12.0
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
langcodes==3.3.0
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.7.0
murmurhash==1.0.7
numpy==1.23.1
packaging==21.3
pathy==0.6.2
platformdirs==2.5.2
preshed==3.0.6
pydantic==1.9.1
pylint==2.14.5
pylint-django==2.5.3
pylint-plugin-utils==0.7
pyparsing==3.0.9
requests==2.28.1
rfc3986==1.5.0
smart-open==5.2.1
sniffio==1.2.0
spacy==3.4.1
spacy-legacy==3.0.9
spacy-loggers==1.0.3
srsly==2.4.4
thinc==8.1.0
tomli==2.0.1
tomlkit==0.11.1
tqdm==4.64.0
typer==0.4.2
typing_extensions==4.3.0
urllib3==1.26.11
wasabi==0.10.1
Werkzeug==2.2.1
wrapt==1.14.1
zipp==3.8.1
